@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&display=swap');

.carousel-slide {
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: black;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .carousel-caption h1 {
    /* font-family: 'Mrs Saint Delafield', cursive;
    font-size: 60px;
    
    position: relative;
    display: block;
    z-index: 2; */
    font-family: 'Cormorant', serif;
    color: #fff;
    font-size: 100px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: .05em;
    text-transform: uppercase;
    opacity: .9;
    transition: opacity .8s;
  }
  
  .carousel-caption p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #C49871;
    font-family: 'Cormorant', serif;
    color: #fff;
    
    font-weight: 400;
    line-height: 1em;
    letter-spacing: .05em;
    text-transform: uppercase;
    opacity: .9;
    transition: opacity .8s;
  }
  